name: Push trigger demo
on:
  push:
    branches: [ main ]
jobs:
  push-job:
    runs-on: ubuntu-latest
    steps:
      - name: push trigger demo
        run: echo "Triggered by Push event"
          
